*{
  font-family: sans-serif;
}


.container{
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  /*background-color: pink;*/
}
.col-3{
  margin: 1% 1%;
  /*flex: 3;*/
  width: 31%;
  background-color: lightgray;
  padding: 0px;
  border: solid 1px black;

}

h1{
  color: black;
  text-align: center;
}
h2{
  color: gray;
}

.title{
  border-left: solid 1px black;
  border-bottom: solid 1px black;
  background-color: white;
  text-align: center;
  display:inline-block;
  float: right;
  margin: 0px;
  padding: 2px;
  width: 40%;
}
p{
  float:left;
  margin: 0;
  padding: 5px;
}
.bg-red{
  background-color: pink;
}

.bg-green{
  background-color: lightgreen;
}

.bg-blue{
  background-color: lightblue;
}

@media (max-width:992px) {
  .col-2 {
    width: 47%
  }
  .col-1{
    width: 97%
  }
}
@media (max-width:767px) {
  .col-1{
    width: 97%
  }
  .col-2 {
    width: 97%
  }
}
