body {
  min-height: 2000px;
  padding-top: 70px;
}
*{
  font-family: sans-serif;
}


.title{
  color: black;
}
.bg-red:hover{
  background-color: pink !important;
}

.bg-green:hover{
  background-color: lightgreen !important;
}

.bg-blue:hover{
  background-color: lightblue!important;
}

.col-xs-12{
  background-color: lightgray;
	text-align: justify;
  padding: 10px;
  margin: 10px;
}

.navbar-default{
  background-color: #424242 !important;
}
.navbar-default .navbar-brand{
  color: white !important;

}
.navbar{
	border:0px;
	border-radius: 0px;
}

.navbar-nav {
  margin: 0.5px -15px;}

.navbar-nav li{
	display: none;
}
.navbar-collapse{
  background-color: white;
}
